@media only screen and (min-width: 1024px) {
    .hero-text h1  {
        font-size: 4.25rem;
        font-weight: 700;
        letter-spacing: .3375rem;
    }
    .hero-text h3 {
        font-size: 3.25rem;
        font-weight: 300;
        letter-spacing: 4px;
    }
    .h-line {
        width: 30rem;
    }

    .hero-text {
        margin-left: 3rem;
    }



    .second-section {
        height: 75vh;
    }

    .second-section p {
        word-wrap: break-word;
    }

    .third-section {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .third-left {
        width: 50%;
    }

    .fourth-text-area {
        margin-top: 30rem;
    }



    }
