@media only screen and (min-width: 1024px) {
    .hero-text h1  {
        font-size: 4.25rem;
        font-weight: 700;
        letter-spacing: .3375rem;
    }
    .hero-text h3 {
        font-size: 3.25rem;
        font-weight: 300;
        letter-spacing: 4px;
    }
    .h-line {
        width: 30rem;
    }

    .hero-text {
        margin-left: 3rem;
    }



    .second-section {
        height: 75vh;
    }

     .second-section-text p {
        max-width: 200rem;
        word-wrap: break-word;
        text-align: center;
    } 

    

    .third-section {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
    }
    .third-left {
        width: 50%;
    }

    .third-right {
        width: 50%;
    }

    .fourth-text-area {
        margin-top: 17.5rem;
    }

    .fourth-text-area h1 {
        font-size: 4.5rem;
    }

    .fourth-text-area p {
        font-size: 1.6rem;
    }

    

    .flex-card h4 {
        font-size: 2.1rem;
    }
    .flex-card p {
        font-size: 1rem;
    }

    .sixth-area {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .sixth-area .right {
        width: 50%;
     
    }

    .sixth-area .left h3 {
        max-width: 60%;
        margin-top: 0;
    }


    .sixth-area .left h6{
        margin: 0;
        margin-bottom: 0.9rem;
        font-size: 1.2rem;
    }

    .sixth-area .left {
        align-self: center;
    }


    }
