@media only screen and (min-width: 768px) {
    .hero {
        
    }
    
    .hero-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }




    }
    